.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
  border-bottom: 2px solid var(--black);
  background-color: var(--white);
  position: fixed;
  width: 100%;
}
