.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 200px;
  margin: 15px;
  padding: 10px;
  animation: begin 0.3s;
  cursor: pointer;
  &:hover {
    transform: translateY(-5px);
  }
  img {
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
  }
  h1{
    --max-lines : 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:var(--max-lines);
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
    // white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-select: none;
  }
}
@keyframes begin {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.loading{
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.loading div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--black);
  border-radius: 50%;
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--black) transparent transparent transparent;
}
.loading div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
