.list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 200px;
  margin: 15px;
  padding: 10px;
  cursor: pointer;
  &:hover {
    animation: spin 0.5s;
  }
  img {
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
  }
  h1,
  p {
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-select: none;
  }
  p {
    font-size: 20px;
    font-weight: 500;
  }
}

@keyframes spin {
  0% {
    transform: translateY(-5px);
  }
  25% {
    transform: rotateZ(5deg) translateY(-5px);
  }
  50% {
    transform: rotateZ(-5deg) translateY(-5px);
  }
  75% {
    transform: rotateZ(0) translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
