.title {
  display: flex;
}

.category {
  background-color: var(--white);
  color: var(--black);
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.categoryActive {
  background-color: var(--gray);
  color: var(--white);
}
