* {
  margin: 0;
  padding: 0;
  top: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

:root {
  --white: #e3e3e3;
  --orange: #f95959;
  --gray: #455d7a;
  --black: #233142;
  --padding-content: 40px;
}
a {
  text-decoration: none;
  color: var(--black);
}

body {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: var(--white);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 10px;
  }
}
